
- if (!locals.processed)
    button#save-artifact.button.button-blue.rfloat Save Artifact
input#artifact-id(type='hidden', value=locals.artifactId)
canvas#artifact(data-processing-sources='/js/processing/arti/arti.pde /js/processing/arti/ArtifactStyle.pde /js/processing/arti/Sharp.pde /js/processing/arti/Fluid.pde /js/processing/arti/Rays.pde /js/processing/arti/Polygon.pde /js/processing/arti/Hexagon.pde /js/processing/arti/Diamond.pde /js/processing/arti/Glow.pde /js/processing/arti/Squares.pde')