input#artifact-id(type='hidden', value=locals.artifactId)
canvas#artifact(data-processing-sources='/js/processing/arti/arti.pde /js/processing/arti/Layer.pde /js/processing/arti/Palette.pde /js/processing/arti/Utils.pde')