footer
    .footer-inside
        nav.main-nav.shoes.clearfix
            include main-nav.jade
            a.button.button-black(href='http://imposters.cias.rit.edu') View Our Project Blog
        .feedback.clearfix
            a.button.button-black.rfloat(href='#', target='_blank') Leave us Feedback
            span.copyright &copy; Lochness Imposters 2012