ul
    li
        - var active = locals.page == 'gallery' ? ['active'] : [];
        a(href='/', class=active, data-page='gallery') The Gallery
    li
        - var active = locals.page == 'team' ? ['active'] : [];
        a(href='/team', class=active, data-page='team') The Team
    li
        - var active = locals.page == 'idea' ? ['active'] : [];
        a(href='/idea', class=active, data-page='idea') The Idea
    li
        a(href='http://imposters.cias.rit.edu/the-blog', data-external) The Blog