.idea.clearfix
  video#promo.video-js.vjs-default-skin(controls, preload='auto', width='940', height='627', poster='/img/poster-image.png', data-setup='{}')
    source(src='/vid/Promo_Video_Web.mp4', type='video/mp4')
    source(src='/vid/Promo_Video_Web.ogv', type='video/ogg')
    source(src='/vid/Promo_Video_Web.webm', type='video/webm')
  .idea-details.lfloat
    h2 What&rsquo;s an ARTI?
    p ARTI stands for Art Rendered Through Identity. It was an idea conceived by 7 talented New Media Design and Interactive Development students at the Rochester Institute of Technology in the fall of 2011. Our team was assigned by our department chairs and we were given 20 short weeks to brainstorm, conceive, and bring and idea to life with our new friends.
    p Challenge Accepted.
    h2 Why did we create ARTI?
    p After extensively brainstorming all of the worlds problems, our team decided that art can lack a personal connection for individuals who merely possess it. Our solution aims to produce a personal, expressive and visually appealing representation of who you are based on your body&rsquo;s biometric data. Perhaps the most innovative feature is that you don&rsquo;t need to be an artist to create stunning artwork. You can simply stand in front of an Xbox Kinect and let A.R.T.I. interpret your body&rsquo;s movements over time.
    h2 How did we bring the idea to life?
    p After we had our idea thought out, we began to formulate our plan of attack. Using a variety of design and development software as well as the Xbox Kinect, we broke the project down into managable chunks and divided it among our talented team members. The designers took on the challenge of defining the brand, designing a website interface, producing a promotional video as well as a behind the scenes video, posters, and business cards. The developers took on the daunting tasks of learning new programming languages such as Node.js and Redis to implement all of the designers crazy ideas. We spent hundreds of combined hours putting all the pieces together so that you have the opportunity to quickly and easily create professional artwork.
    h2 Who did what anyway?
    ul.team
      li <strong>Matt (Designer)</strong> - Website Interface, Promo Video Animation & Script , Documentation Content, Presentation Design Templates & Content.
      li <strong>Jake (Designer)</strong> - All Marketing Materials (Posters & Business Cards), Email Blast Template, Presentation Content, Processing (Visual Artwork).
      li <strong>Jesse (Designer)</strong> - Brand Identity, Promotional Video Assets & Script, Documentation Design.
      li <strong>Andrew (Developer)</strong> - C# App to capture biometric data from the Xbox Kinect.
      li <strong>Mike (Developer)</strong> - Responsible for Server-Side programming such as Redis database that stores the captured Kinect data.
      li <strong>Glen (Developer)</strong> - Website Development, Processing (Visual Artwork), Node.js implementation that reads the data from the Redis database and displays it in an online gallery.
  aside.idea-summary.lfloat
    h2 Project Overview
    ul
      li 4 Designers, 3 Developers
      li 20 Short Weeks
      li 1 Big Idea
    h2 Our Bag of Tricks
    h5 General:
    ul
      li The Internet
      li Computers/Laptops
      li HD Video Cameras
      li Green Screen &amp; Lighting System
      li Your Preferred Simulant
      li Music to keep you sane
      li Time and Magic
    h5 Design:
    ul
      li Adobe Photoshop
      li Adobe Illustrator
      li Adobe After Effects
      li Adobe Soundbooth
      li Word Processor
    h5 Development:
    ul
      li Text Editors/IDE&rsquo;s
      li FTP Client
      li Version Control
      li Dropbox
      li Xbox Kinect &amp; SDK
      li Visual Studio
      li Server (to run Node.js and Redis)
script(src='/js/libs/video.min.js')